.pad-t-0-lr-0 {
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}
/*some defaults*/

body{
    font-family: "Century Gothic";
    color: white;
    background-color: #003;
}

a{
    font-family: 'Century Gothic';
}
a:hover{
    transition: all 0.5s ease;
}

.pos-centre{
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

/*navbar related properties*/
#top_nav_div {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}
#navbar-logo {
    margin-top: -3%;
    width: 30%;
    margin-right: 4%;
    display: inline;
}
.navbar-default {
    background-color: rgba(0,0,0,0.2);
    height: 70px;
    border: none;
}

.Navbar-title-font {
    color: #333366!important;
    font-size: 30px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 35.2000007629395px;
    padding-bottom: 0px;
    padding-top: 14px;
    width: 110%;
}

.navbar-top-li {
    margin-right: 4%;
}
.navbar-top-li:hover{
    border-top: 3px solid crimson;
}

#top_nav_ul {
    width: 100%;
}

.navbar-li-a {
    font-family: 'Century Gothic';
    font-size: 1em;
    font-weight: bold;
    color: #000000!important;
}
.navbar-li-a:hover {
    color: crimson!important;
}

#myNavbar {
    width: 35%;
    min-width: 452px;
    margin-top: 1%;
}

/*home page settings*/

top-pad {
    padding-top: 6;
}

.back-col {
    background-color: #000033;
}

.home-div-pos {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-top: 60px;
    position: relative;
    height: auto;
}

.backgrnd-img {
    background-image: url(/data/img/background-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-page {
    position: relative;
}

/*form related properties*/

#form-div {
    left: 23%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 10%;
}

#form_reach_us {
    margin: 6% 0 3% 0;
}


.form-group {
        position: relative;
        margin-bottom: 28px;
    }

.form-control {
    background-color: transparent;
    text-align: center;
    font-family: 'Century Gothic';
    color: inherit;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 304px;
    height: 50px;
    border:none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.form-control:focus ~ .highlight{
    -webkit-animation:inputHighlighter 0.4s ease;
    -moz-animation:inputHighlighter 0.4s ease;
    animation:inputHighlighter 0.4s ease;
}

.hBar {
    position:relative;
    display:block;
    width:100%;
}

.hBar:before, .hBar:after{
    content:'';
    height:2px;
    width:0;
    bottom:4px;
    position:absolute;
    background:#fff;
    transition:0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition:0.3s ease all;
}

.hBar:before{
    left:50%;
}

.hBar:after{
    right:50%;
}

.form-control:focus ~ .hBar:before, .form-control:focus ~ .hBar:after{
    width:50%;
}

label {
    color:#999999;
    font-size:20px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition: 0.3s ease all;
    -moz-transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
}

.form-control:focus ~ label, .form-control:valid~label{
    top:-20px;
    font-size:14px;
    color:#fff;
}

.btn-div {
    width: 23%;
    min-width: 145px;
    margin-bottom: 10px!important;
    margin-left: auto;
    margin-right: auto;
}

#btn-submit {
    background-color: transparent;
    border: white 3px solid;
    transition: all 0.3s ease-out;
    height: 34px;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%;
    font-size: 16px;
    margin-top: 9px
}

#btn-submit:focus, #btn-submit:hover, #btn-submit:active {
    outline: 0;
    border-width: 0;
    background-color: white;
    color: #036;
}
#Button-txt {
    text-align: center;
}
#overlay {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

#popup {
    background: #f5f5f5;
    border-radius: 25px;
    bottom: 37%;
    display: none;
    height: 133px;
    left: 43%;
    position: fixed;
    right: 43%;
    top: 37%;
    width: 20%;
    z-index: 100
}

#loading-indicator-rchus {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 11px
}

#sndg-msg-rchus {
    text-align: center;
}

.notice {
    background-color: rgba(0, 0, 0, 0);
    color: #a94442;
    display: none;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    word-wrap: break-word
}

/*mobile viewport properties*/

@media (max-width: 480px)
{
    .navbar-top-list{
        background-color: white;
        height: auto;
        border-top: white;
        margin-top: -8px;
    }
    .navbar-top-li{
        width: 113%;
    }
    .navbar-brand{
        width: auto;
        padding-left: 2%;
        padding-top: 3%;
        display: inline-flex;
    }
    #navbar-logo{
        width: 32%;
        margin-top: -1%;
    }
    .navbar-default{
        height: 61px;
    }
    .navbar-logo-text{
        padding-left: 4%;
        margin-right: auto;
        width: auto;
    }
    .navbar-toggle{
        margin-top: 4%;
    }
    #top_nav_div{
        height: 61px;
    }
    .navbar-header{
        width: 107%;
        height: 61px;
    }
    #myNavbar {
        min-width: 210px;
        margin-top: -2.3%;
    }
    .backgrnd-img{
        background-image: url(/data/img/background-1.jpg);
        background-size: 100% 100%;
    }
    #form-div{
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 325px;
        margin-top: 20%;
        padding-top: 2%;
        padding-bottom: 1%;
    }
}
